body{
    margin:0;
    font-family: 'Montserrat', sans-serif;
    color: #000000;
}
.delivery-section {
  padding: 2rem 1rem;
  max-width: 800px;
  margin: 0 auto;
}

.delivery-title {
  font-size: 1.8rem;
  font-weight: bold;
  border-bottom: 1px solid #ccc;
  padding-bottom: 0.5rem;
  margin-bottom: 2rem;
}

.step {
  display: flex;
  align-items: flex-start;
  margin-bottom: 1.5rem;
}

.step-circle{
    width: 36px;
    height: 36px;
    border: 2px solid #000;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    margin-right: 1rem;
    transition: background 0.3s, color 0.3;
    flex-shrink: 0;
    color: #000;
}

.step:hover .step-circle{
    background-color: #000;
    color: #fff;
}

.step-text{
    font-size: 1rem;
    line-height: 1.4;
}
.delivery-image{
    width: 100%;
    height: auto;
    margin-top: 2rem;
}

@media(max-width:600px){
    .step-text{
        font-size:0.95rem ;
    }
}
