@import "./utils/colors.scss";
@import "./components/container";
@import "./components/header";
@import "./components/section1";
@import "./components/section2";
@import "./components/section3";
@import "./components/section4";
@import "./components/section5";
@import "./components/footer";

body {
    margin: 0;
}
.container {
    padding-left:  20px;
    padding-right:  20px;
    margin: auto;
}
* {
    font-family: "Montserrat", sans-serif;
}