<footer>
  <div class="footer-container">
    <div class="footer-column logo">
      <img src="../images/logo ae.png" alt="AE Logo" class="footer-logo" />
    </div>

    <div class="footer-column">
      <h4>Navigation</h4>
      <ul>
        <li><a href="#">Anemone</a></li>
        <li><a href="#">About us</a></li>
        <li><a href="#">Store</a></li>
        <li><a href="#">Delivery</a></li>
      </ul>
    </div>

    <div class="footer-column">
      <h4>Opening times</h4>
      <p>Every day</p>
      <p>9:00 - 22:00</p>
    </div>

    <div class="footer-column">
      <h4>Contacts</h4>
      <p>+38 063 123 45 67</p>
      <p><a href="mailto:anemonestudio@example.com">anemonestudio@example.com</a></p>
      <p>Reitarska Street, 11<br />Kyiv, Ukraine</p>
      <div class="socials">
        <img src="../images/facebook.png" alt="facebook" />
        <img src="../images/instagram.png" alt="instagram" />
      </div>
    </div>
  </div>
</footer>