<section class="blog">
  <div class="blog__box">
<h2 class="blog__title">BLOG</h2>
<span class="blog__span"></span>
</div>
<div class="blog__images-wrapper">
  <div class="blog__arrow blog__arrow--left">&#8592;</div>

  <div class="blog__images">
    <img src="../images/flowers2.png" alt="flowers-1" />
    <img src="../images/flowers1.png" alt="flowers-2" />
    <img src="../images/flowers3.png" alt="flowers-3" />
  </div>

  <div class="blog__arrow blog__arrow--right">&#8594;</div>
</div>

<h2 class="blog__description">Follow to our newsletter</h2>
<a href="#" class="blog__button">Subscribe</a>


<div class="modal">
  <div class="modal__content">
    <button class="modal__close">&times;</button>
    <img src="../images/flowers5.png" alt="flowers" class="modal__image" />
    <h2 class="modal__title">Follow to our newsletter</h2>
    <p class="modal__text">
      Be the first to get exclusive offers and the latest news on our product directly in your box.
    </p>
    <form class="modal__form">
      <label for="email">Email</label>
      <input type="email" id="email" placeholder="Your email" required />
      <button type="submit">Subscribe</button>
    </form>
  </div>
</div>
</div>
  <div class="overlay"></div>
  <script src="script.js"></script>
</section>
