<section class="delivery-section">
    <div class="delivery-title">DELIVERY</div>
<div class="step">
    <div class="step-circle">1</div>
    <div class="step-text">Choose your bouquet and make an order on website</div>
</div>

<div class="step">
    <div class="step-circle">2</div>
    <div class="dtep-text">Wait for the call to clarify the details of the order.</br>
You can pay online or to the courier
</div>
    </div>
     
<div class="step">
    <div class="step circle">3</div>
    <div class="step-text">
        Wait for the delivery at the selected time or pick up
the order from the store 
    </div>
</div>

<div class="step">
    <div class="step-circle">4</div>
    <div class="step-text">
        Make someone happy or enjoy yourself
    </div>
</div>

<img src="../images/5a32b1b47f831fc842dd49f5423762ffb2e552b5.jpg" alt="Flowers" class="delivery-image"/>
</section>