<section class="store">
    <div class="store_content">
    <h1 class="content_logo">Store<span class="content_line"></span></h1>
   </div>
   <div class="store_products">
    <div class="store_div">
        <div>
            <img class="div_img" src="../img/bouquet3.png" alt="">
            <h1 class="div_logo">compliments</h1>
            <span class="div_lines"></span>
        </div>
       <p class="div_buy">from $15</p>
    </div>
      <div class="store_div">
        <div>
            <img class="div_img" src="../img/bouquet1.png" alt="">
            <h1 class="div_logo">bouquets size S</h1>
            <span class="div_line"></span>
        </div>
       <p class="div_buy">from $25</p>
    </div>
      <div class="store_div">
        <div>
            <img class="div_img" src="../img/bouquet2.png" alt="">
            <h1 class="div_logo">bouquets size M</h1>
            <span class="div_line"></span>
        </div>
       <p class="div_buy">from $45</p>
    </div>
      <div class="store_div">
        <div>
            <img class="div_img" src="../img/bouquet4.png" alt="">
            <h1 class="div_logo">bouquets size L</h1>
            <span class="div_line"></span>
        </div>
       <p class="div_buy">from $60</p>
    </div>
  </div>
  <div class="store_buttons">
    <button class="store_button"><span class="store_title">Order flowers</span></button>
</div>
</section>