<section class="about">
    <div class="about_div">
        <h1 class="about_logo">ABOUT</h1>
        <span class="about_span"></span>
    </div>
    <div class="about_content"> 
        <p class="about_text">We are a minimalistic flower studio. We love people and flowers.
         Therefore, every day we give people the beauty and joy creating stylish 
        and modern masterpieces. Every bouquet we create is unique as you are.</p>
        <img class="about_img" src="/img/image_about.png" alt="">
    </div>
</section>